.quote{
  box-sizing: border-box;
  max-width: 600px;
   border-radius: 50px 20px ;
   font-family:"Times New Roman", Times, serif;
   font-style: italic;
  text-align: center;
  font-size:25px;
  border: 2px solid #6b5b95;
  padding: 10px;
   margin: 20px auto;
   color: purple;
}

.quote span{
  font-family:"Times New Roman", Times;
  font-size: 15px;
  color:black;
}

.container{
  font-size: 31.25px;
  font-family: "Times New Roman",Times;
}

footer {
margin-top: 130px;
font-size: 20px;
font-family: "Times New Roman", Times;
}
